$heading-font: "Impact";
$copy-font: "Verdana";
$dark-grey: #383c4a;
$light-pink: #fcfaf7;
$dark-maroon: #a67e7b;
$light-orange: #ffd762;
$lighter-orange: #fbe6a6;
$medium-blue: #086fb8;
$color-background: darken(#f8f6ea, 3%);
$medium-screen: 47em;
$gradient-background-lr: linear-gradient(90deg, $medium-blue, $medium-blue, $light-orange, $light-orange, $medium-blue, $medium-blue);
$gradient-background-rl: linear-gradient(-90deg, $medium-blue, $medium-blue, $light-orange, $light-orange, $medium-blue, $medium-blue);
$gradient-background-bt: linear-gradient(-180deg, $medium-blue, $light-orange, $light-orange, $light-orange, $medium-blue, $color-background, $color-background, $medium-blue);
$polygon-lr: polygon(45% 0%, 100% 0, 100% 100%, 45% 100%, 0 50%);
$polygon-rl: polygon(55% 100%, 0 100%, 0 0, 55% 0, 100% 50%);

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
abbr{
    text-decoration: none;
}

h1 {
    font-family: $heading-font;
    font-size: 2.5em;  
    margin-bottom: 1em;
    padding-bottom: 0;
    padding-top: 1em;
    text-align: center;
    color: $lighter-orange;

}

h2 {
    font-family: $copy-font;
    color: $light-pink;
    padding-bottom: 1em;
}

h3 {
    font-family: $heading-font;
    color: $dark-grey;
    background-color: lighten($light-orange, 30%);
    display: inline-block;
    padding: .8em 1em;
    z-index: 100;

    @media only screen and (min-width: $medium-screen) {
        & {
            background-color: transparent;
            border: none !important;
        }
    }
}

p {
    font-family: $copy-font;
    font-size: 1em;
    color: $dark-grey;
    padding-left: .7em;
    padding-right: .7em;
    hyphens: auto;
    z-index: 100;
}

a {
    text-decoration: none;
    color: darken($dark-maroon, 25%);
    white-space: nowrap;
}

#zen-summary a {
    color: $lighter-orange;
}

.page-wrapper {
    position: relative;
    border: 1px solid $dark-grey;
    background-color: $light-pink;
    margin: 1em;

    @media only screen and (min-width: $medium-screen){
        & {
            display: grid;
            grid-template-columns: 8% 28% 28% 28% 8%;
            border: none;
            background-color: $dark-maroon;
            overflow: hidden;
        }
    }    
}

section{
    h2 {
        font-size: 1.3em;
        text-align: center;
    }

    p {
        text-align: center;
        padding-bottom: 1em;
    }     

    @media only screen and (min-width: $medium-screen){
        & {  
            grid-column: 2 / span 3;
        }

        h1 {
            position: fixed;
            top: -50px;
            left: 0;      
            writing-mode: vertical-rl;
            text-orientation: upright;
            word-spacing: -25px;
            color: $light-pink;
            width: 4%;
            height: 150%;
            font-family: "Courier";
            text-transform: uppercase;
            font-size: 2.5em;
            text-align: left;
            margin-left: 1em;
            margin-top: 1em;
            animation-name: move;
            animation-duration: 3s;
            animation-timing-function: linear;
            animation-direction: alternate;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes move {
   0% {left:90%; color:$light-pink;}
   25% {left:90%; color:$light-pink}
   50% {left:75%; color:$dark-maroon}
   75% {left:50%; color:$dark-maroon}
   90% {left:25%; color:$dark-maroon}
   100% {color:$light-pink;}
}

header {
    background-color: #577699;

    @media only screen and (min-width: $medium-screen){
        & h2 {
            color: #fbe6a6;
            font-size: 2em;
            padding-top: 1em;
        }
    }
}

.summary {
    background-color: #577699;

    @media only screen and (min-width: $medium-screen){
        & p {
            color: $light-pink;

            &:nth-child(2) a {
                color: lighten($medium-blue, 20%);
            }
        }
    }
}

.preamble {
    border-bottom: 1px solid $dark-grey;
    background-color: $color-background;

    h3 {
        background-color: $lighter-orange;
        border-bottom: 1px solid $dark-grey;
        border-right: 1px solid $dark-grey;
        border-radius: 0 0 10px 0;
    }

    p {
        text-align: justify;   
    }

    :nth-child(2) {
        padding-top: 1em;
    }

    @media only screen and (min-width: $medium-screen) {
        & {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto auto;
            margin-bottom: -1px;
            border-bottom: none;
            background-color: $color-background;
            &:hover {
                background-color: lighten($color-background, 70%);
            }
        }
        h3 {
            grid-area: 2 / 1 / span 1 / span 1;
            justify-self: center;
            background-color: transparent;
            &:hover{
                transform: scale(1.1);
            }
        }        
        :nth-child(2) {
            grid-area: 1 / 2 / span 1 / span 2;
        }
        :nth-child(3) {
            grid-area: 2 / 2 / span 1 / span 2;
        }
        :nth-child(4) {
            grid-area: 3 / 2 / span 1 / span 2;
        }        
        &:before {
            content: "";
            width: 160%;
            grid-area: 1 / 1 / span 3 / span 3;
            -webkit-clip-path: $polygon-lr;
            clip-path: $polygon-lr;
            justify-self: center;
            opacity: 0.5;
            background-image: $gradient-background-lr;
        }
    }
}

.explanation {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: auto auto auto;
    border-bottom: 1px solid $dark-grey;
    background-color: $color-background;

    h3 {
        background-color: $lighter-orange;
        grid-column-start: 2;
        border-bottom: 1px solid $dark-grey;
        border-left: 1px solid $dark-grey;
        border-radius: 0 0 0 10px;
    }

    :nth-child(2) {
        grid-column: 1 / 3;
        padding-top: 1em;
    }

    :nth-child(3) {
        grid-column: 1 / 3;
    }

    p {
        text-align: justify;
        padding-bottom: 1em;
    }

    @media only screen and (min-width: $medium-screen) {
        & {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto auto;
            margin: -.5px 0 -.5px 0;
            border-bottom: none;
            background-color: $color-background;
            &:hover {
                background-color: lighten($color-background, 70%);
            }
        }
        h3 {
            background-color: transparent;
            grid-area: 1 / 3 / span 1 / span 1;
            padding-bottom: 0;
            align-self: end;
            justify-self: center;
            &:hover{
                transform: scale(1.1);
            }
        }
        :nth-child(2) {
            grid-area: 1 / 1 / span 1 / span 2;
        }
        :nth-child(3) {
            grid-area: 2 / 1 / span 1 / span 2;
        }
        &:before {
            content: "";
            width: 160%;
            grid-area: 1 / 1 / span 2 / span 3;
            -webkit-clip-path: $polygon-rl;
            clip-path: $polygon-rl;
            justify-self: center;
            opacity: 0.5;
            background-image: $gradient-background-rl;
        }        
    }
}

.participation {
    border-bottom: 1px solid $dark-grey;
    background-color: $color-background;

    h3 {
        background-color: $lighter-orange;
        border-bottom: 1px solid $dark-grey;
        border-right: 1px solid $dark-grey;
        border-radius: 0 0 10px 0;
    }

    p {
        text-align: justify;
        padding-bottom: 1em;
    }

    :nth-child(2) {
        padding-top: 1em;
    }

    @media only screen and (min-width: $medium-screen) {
        & {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto auto auto;
            margin: 0px 0px -1px 0;
            border-bottom: none;
            background-color: $color-background;
            &:hover {
                background-color: lighten($color-background, 70%);
            }
        }
        h3 {
            background-color: transparent;
            grid-area: 2 / 1 / span 1 / span 1;
            justify-self: center;
            &:hover{
                transform: scale(1.1);
            }
        }        
        :nth-child(2) {
            grid-area: 1 / 2 / span 1 / span 2;
        }
        :nth-child(3) {
            grid-area: 2 / 2 / span 1 / span 2;
        }
        :nth-child(4) {
            grid-area: 3 / 2 / span 1 / span 2;
        }
        &:before {
            content: "";
            width: 160%;
            grid-area: 1 / 1 / span 3 / span 3;
            -webkit-clip-path: $polygon-lr;
            clip-path: $polygon-lr;
            justify-self: center;
            opacity: 0.5;
            background-image: $gradient-background-lr;
        }        
    }
}

.benefits {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto auto;
    border-bottom: 1px solid $dark-grey;
    background-color: $color-background;

    h3 {
        background-color: $lighter-orange;
        grid-column-start: 2;
        border-bottom: 1px solid $dark-grey;
        border-left: 1px solid $dark-grey;
        border-radius: 0 0 0 10px;
        justify-self: end;
    }

    :nth-child(2) {
        grid-column: 1/3;
        padding-top: 1em;
    }

    p {
        text-align: justify;
        padding-bottom: 1em;
    }

    @media only screen and (min-width: $medium-screen) {
        & {
            display: grid;
            grid-template-columns: 28% 28% 44%;
            grid-template-rows: auto; 
            grid-row-start: 4;
            justify-self: end;
            border-bottom: none;

            h3 {
                background-color: transparent;
                grid-column-start: 2;
                grid-row-start: 1;
                justify-self: end;
                padding-top: 1em;
                &:hover{
                    transform: scale(1.1);
                }
            }

            :nth-child(2) {
                grid-column-start: 1;
                grid-column-end: 4;
                margin-right: 3em;
                margin-left: 3em;

            }
        }
    }
}

.requirements {
    border-bottom: 1px solid $dark-grey;
    background-color: $color-background;

    h3 {
        background-color: $lighter-orange;
        border-bottom: 1px solid $dark-grey;
        border-right: 1px solid $dark-grey;
        border-radius: 0 0 10px 0;
    }

    p {
        text-align: justify;
        padding-bottom: 1em;
    }

    :nth-child(2) {
        padding-top: 1em;
    }   
    @media only screen and (min-width: $medium-screen) {
        & {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto auto auto auto;
            margin: -.5px 0px 0px 0;
            border-bottom: none;
            background-color: $color-background;
            &:hover {
                background-color: lighten($color-background, 70%);
            }
        }
        h3 {
            background-color: transparent;
            grid-area: 2 / 3 / span 1 / span 1;
            padding-bottom: 0;
            align-self: center;
            justify-self: center;
            &:hover{
                transform: scale(1.1);
            }
        }
        :nth-child(2) {
            grid-area: 1 / 1 / span 1 / span 2;
        }
        :nth-child(3) {
            grid-area: 2 / 1 / span 1 / span 2;
        }
        :nth-child(4) {
            grid-area: 3 / 1 / span 1 / span 2;
        }
        :nth-child(5) {
            grid-area: 4 / 1 / span 1 / span 2;
        }        
        &:before {
            content: "";
            width: 160%;
            grid-area: 1 / 1 / span 4 / span 3;
            -webkit-clip-path: $polygon-rl;
            clip-path: $polygon-rl;
            justify-self: center;
            opacity: 0.5;
            background-image: $gradient-background-rl;
        }        
    }
}

[role="contentinfo"] {
    font-weight: bold;
    grid-column: 1 / span 3 !important;
    font-family: "Courier";
    font-size: 1em;
    text-align: center !important;
    @media only screen and (min-width: $medium-screen){
        & {
            padding-top: 1em;
            text-align: center !important;
            margin-right: 1.5em;
            margin-left: 1.5em;
            border-bottom: 1.5px solid $dark_maroon;
        }
    }
}


aside {
    background-color: $color-background;
    padding-bottom: 6em;
    h3 {
        background-color: $lighter-orange;
        font-size: 1.4em;
        background-color: transparent;
    }
    ul {
        list-style-type: none;
        & li {
            padding-left: 8%;   
        }   
        ul li a {
            text-decoration: none;
            color: darken($dark-maroon, 20%);
            padding-left: 0;
        }
    }

    @media only screen and (min-width: $medium-screen) {
        & {
            grid-column: 2 / span 3; 
            padding-bottom: 4em;
        }
        & .wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 15% 15% 15% 1fr 1fr 1fr;
            grid-template-rows: auto auto auto;
            height: 100%;
            margin-bottom: 5em;
            &:after{
                content: "";
                width: 110%;
                height: 150%;
                grid-row-start: 1;
                grid-row-end: 4;
                grid-column-start: 1;
                grid-column-end: 9;
                -webkit-clip-path: polygon(0 0, 100% 0, 72% 100%, 28% 100%);
                clip-path: polygon(0 0, 100% 0, 72% 100%, 28% 100%);
                opacity: 0.4;
                background-image: $gradient-background-bt;
            }
        }
        h3 {
            background-color: transparent;
            justify-self: center;
        }
        .design-selection {
            grid-area: 2 / 4 / span 2 / span 3;
            justify-self: center;
            text-align: center;
            z-index: 100;

        }
        .design-archives {
            grid-area: 1 / 7 / span 2 / span 2;
            justify-self: center;
            z-index: 100;
            & ul li {
                padding-left: 15%;
            }
        }
        .zen-resources {
            grid-area: 1 / 2 / span 2 / span 2;
            justify-self: center;
            z-index: 100;
            & ul li {
                padding-left: 14%;
            }
        }
        ul li{
            text-align: left;
            white-space: nowrap;
        }
    }
}
@-moz-document url-prefix(){
    aside .wrapper:after {
        height: 120%;
    }
}
footer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 100%;
    height: 3.75em;
    text-align: left;
    position: absolute;
    bottom: 0;
    margin-top: 1em;
    background-color: #577699;
    a {
        color: $lighter-orange;
        justify-self: center;
        align-self: center;
    }

    @media only screen and (min-width: $medium-screen){
        grid-column: 2 / span 3;
        grid-template-columns: 25% 1fr 1fr 1fr 1fr 1fr 25%;
        height: 8em;
        text-align: center;
        background-color: $color-background;   
        a {
            color: darken($dark-grey, 15%);
            padding-bottom: 2.5em;
            z-index: 100;
        }
        :nth-child(1) {
            grid-area: 1 / 2 / span 1 / span 1;
        }
        :nth-child(2) {
            grid-area: 1 / 3 / span 1 / span 1;
        }
        :nth-child(3) {
            grid-area: 1 / 4 / span 1 / span 1;
        }
        :nth-child(4) {
            grid-area: 1 / 5 / span 1 / span 1;
        }
        :nth-child(5) {
            grid-area: 1 / 6 / span 1 / span 1;
        }   
    }
}
@media only screen and (min-width: $medium-screen){
    .main{
        display: grid;
        grid-column: 2 / span 3;
    }
}