// color palette - these colors will be the color swatches of the Colors section

/*$color-1: #86aece; // Light Blue
$color-2: #5a5b55; // Dark Grey
$color-3: #764f47; // Dark Burgandy
$color-4: #5a5b55; // Light Grey
$color-5: #e7ddd9; // Light Pink*/

$color-1: #4A3C39; // Deep Purple
$color-2: #FF7029; // Orange
$color-3: #F5BC2D; // Light Orange
$color-4: #FAFF69; // Pale Yellow
$color-5: #C7B38D; // Light Purple

// additional colors

$success: #6fce72; // green
$alert: $color-3;  // red

