// color palette - these colors will be the color swatches of the Colors section


$color-1: #086fb8; // dark blue
$color-2: #383c4a; // dark grey
$color-3: #a67e7b; // dark burgandy
$color-4: #ffd762; // medium orange
$color-5: #fcfaf7; // off white


// additional colors

$success: #6fce72; // green
$alert: $color-3;  // red

// fonts


$primary-font: 'Garamond', serif;
$secondary-font: 'Impact', sans-serif;


